.main_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart_box {
  margin: 0 auto;
  height: 200px;
}

.cart_img {
  padding-top: 20px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .main_card {
    margin: 0 auto;
  }

  .cart_box {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 599px) {
  .main_card {
    width: 85%;
  }
}
